# Default ignored files
/../../../:LocalMediaListener/.idea/shelf/
/../../../:LocalMediaListener/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:LocalMediaListener/.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../../:LocalMediaListener/.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../../:LocalMediaListener/.idea/dataSources/
/../../../:LocalMediaListener/.idea/dataSources.local.xml
